@import 'search-filter.css';
@import 'screen.css';
@import 'details.css';

* {
    box-sizing: border-box;
    font-family: "Flexo Medium", sans-serif;
}

html {
    background-color: #CC0000;
}

body {
    margin: 0;
}

#root {
    background-color: #CC0000;
    height: 100%;
    padding: 0 0 10px 0;
}

@media screen and (max-width: 830px) {
    header {
        width: 100%;
        display: block;
    }

    .filter {
        display: block;
    }

    #name {
        width: 250px;
    }

    header h1 {
        font-size: 2em;
        margin: 0;
    }

    .list {
        display: block;
    }

    .list-item {
        width: 100%;
    }

    /* table {
        overflow-x: scroll;
    } */

    .details-pokemon {
        overflow-x: scroll;
        margin: 10px;
        border: 25px solid #dfdfdf;
    }
  }