@import 'search-filter.css';
@import 'screen.css';
@import 'details.css';

* {
    box-sizing: border-box;
    font-family: "Flexo Medium", sans-serif;
}

html {
    background-color: #CC0000;
}

body {
    margin: 0;
}

#root {
    background-color: #CC0000;
    height: 100%;
    padding: 0 0 10px 0;
}