.list {
    background-color:#DFDFDF;
    margin: 2rem;
    padding: 1em;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list-item {
    width: 30%;
    background-color: white;
    padding: 1.3em;
    border-radius: 3px;
    margin: .8rem 0;
    text-align: center;
}