header {
    background-color: #FF0000;
    padding: .2rem;
    display: flex;
    text-align: center;
    position : sticky;
	top :0;
}

header h1 {
    padding: .5em 0;
    font-size: 2.5em;
    font-family: 'Pokemon Solid', sans-serif;
    color: #FFCC00;
    letter-spacing: 7px;
    text-shadow: 5px 5px black;
}

.filter {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}

.filter div {
    margin: .5rem;
    padding: .5em 0;
}

label {
    background-color: #FFCC00;
    border: 2px solid black;
    padding: 5px;
}

select {
    margin: 10px;
    padding: 0 5px;
}